.form-text-input, select {
    width: 70%;
    margin: 0 auto;
    float:right; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .inputDescr{
    text-align: center;
    display:inline-block;
    margin:1rem;
    float:left;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  


  .infoForm{
    background-color: #FEFEFE;
    display:inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    width: 60%;
    height:40em;

  }

  .mt-5{
    margin-top:100px !important;
  }
  .customSubGenreForm{
    background-color: #FEFEFE;
    display:inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    width: 60%;
    height:10em;
    min-height: 300px;
  }

  .form-input{
    width:70%;
    height:25px;
    display:inline-block;
    padding:5px;
    margin-top:15px;

  }


  /* aaaaaaaaaaaa */


